<!DOCTYPE html>
<link href="~/Content/Site.css" rel="stylesheet" />
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISEM 551 Project 1 - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top bg-light-gray">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Online Contact Book", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <img class="brand-icon"
                     src="https://www.shareicon.net/download/2016/07/06/105270_book_512x512.png"
                     height="40" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Sign in", "Signin", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="bg-light-gray">
        <div class="container">
            <p class="margin-vertical-sm">&copy; @DateTime.Now.Year - Harrisburg University ISEM 551 Web-based Software Engineering</p>
            <p>Jing Qu - 234401 jqu13@my.harrisburgu.edu</p>
            <p>Monica Pandey - 23582 mpandey@my.harrisburgu.edu</p>
            <p>Kunal H. Raval - 216772 khraval@my.harrisburgu.edu</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
